/* http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */

*, 
*:before, 
*:after {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
 }

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

p {
  color: #222;
}

/*

common breakpoints are 480*, 600, 768*, 992, 1024*, 1168
*are common iOS device breakpoints 

*/
/*@media (max-width: 500px) {
  p {
    background: green;
  }
}*/

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 960px;
}

header {
  width: 100%;
  background: rgba(255, 0, 0, 0.6);
}

nav ul {
  width: 100%;
}

