/* http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */

*, 
*:before, 
*:after {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
 }

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

p {
  color: #222;
}

/*

common breakpoints are 480*, 600, 768*, 992, 1024*, 1168
*are common iOS device breakpoints 

*/

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 960px;
  background: green;
}

header {
  padding-top: 30px;
  width: 100%;
  background: rgba(255, 0, 0, 0.6);
}

nav {
  display: table;
  width: 100%;
}

nav ul {
  width: 100%;
  margin-left: 0;
  padding-left: 0;
  display: table-row;
  text-align: center;
}

nav ul li {
  display: inline-block;
  display: table-cell;
  padding: 5px;
  background: yellow;
  border: 1px solid black;
}

.content {
  width: 100%;
  float: left;
}

.content-inner {
  margin-left: 200px;
  margin-right: 200px;
  background: rgba(255, 0, 0, 0.6);
}

.left-sidebar {
  float: left;
  width: 200px;
  margin-left: -100%;
}

.right-sidebar {
  float: left;
  width: 200px;
  margin-left: -200px;
}



